body{
    background: rgb(216, 172, 216);
    position:absolute;
    margin:100px 100px;
}
.nav{
background: rgb(232, 250, 154);
    font-size: 90px;
    padding-top: 0px;
    margin-top: -60px;
}
.container{
  font-size: 40px;
  border:rgb(235, 143, 143)solid;
  position:absolute;
  top: 150px;
  left: 40%;
margin: auto;

}
.container input{
    font-size: 20px;
    border-radius: 50px;
    border-color: rgb(128, 122, 209);
background: rgb(178, 225, 243);
}
.chanel {
    font-size:28px ;
    ;
    color: rgb(221, 113, 12);

}
   

.button{
    background: rgb(148, 209, 153);
    border-radius: 50px;
    border-color: rgb(137, 240, 137) ;
    font-size: 30px;
    
}
.watermark{
    position: fixed;
    top: 42%;
    bottom: 290px;
    color: rgb(75, 133, 199);
    opacity: 0.6;
    font-size: 26px;
}
.tora{
    font-size: 25px;
    color: rgb(236, 17, 207);
    border-radius: 10px;
    background: rgb(190, 236, 178);
    margin-left: -70px;
    position: absolute;
}

.info{
    margin-top: 100px;
    font-size: 30px;
    color: rgb(211, 64, 27);
    margin-left: -70px;
}

.help{
    font-size: 30px;
    color: mediumblue;
    margin-left: -70px;
}
.main{
    font-size: 25px;
    color: rgb(238, 11, 11);
}
.click{
    border-color: red;
    color: rgb(45, 223, 45);
    animation:animate 1s linear infinite;
    background: rgb(241, 138, 210);

}
.fill{
color: rgb(122, 93, 252);
font-size: 26px;
}
@keyframes animate {
    0%,18%,20%,50.1%,60%,60.1%,80%,90.1%,92%{
        color: rgb(35, 21, 223);
        box-shadow:none;
    }
     18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100% {
           color: rgb(219, 115, 30);
           box-shadow: 0 0 10px rgb(255, 0, 0),
                       0 0 20px rgb(255, 0, 0),
                       0 0 40px rgb(255, 0, 0),
                       0 0 80px rgb(255, 0, 0),
                       0 0 160px rgb(255, 0, 0),
    }
    
}

@media screen and (max-width:599px){
    body{

        background: rgb(216, 172, 216)!important;
      
    }
    .nav{
       
        background: rgb(232, 250, 154);
        
        
      
       
    }
    .container{
        top: 100%;
        padding-left:10px;
      margin-left: -120px;
        font-size:1%;
    }


   
}
@media screen and (max-width:750px){
    body{

        background: rgb(216, 172, 216);
      
    }
    .nav{
        background: rgb(232, 250, 154);
        padding-left: 0px;
        margin-left: -20px;
        margin-top: -50px;
        margin-right: 0px;
        font-size: 40px;
      
       
    }
    .container{
       top: 110%;
       left: -16%;
       font-size: 20px;
    }

    .container input{ 
     
        font-size: 20px;
     }
   
}

@media screen and (max-width:1400px){

.container{
    top: 90%;
    left: 20%;
    
}
 .nav{
    background: rgb(232, 250, 154);
 }
.container{
    top: 100%;
}

}